extends ../app/layout.pug

block content
  form(method="post")
    .form-group
      label(for="username") Nombre de usuario
      input#username.form-control(name="username")
    .form-group
      label(for="password") Contraseña
      input#password.form-control(name="password", type="password")
    button.btn.btn-primary(type="submit") Crear cuenta
